<!DOCTYPE html>
<html>
<head>
    <title>Pets List</title>
</head>
<body>
    <h1>Pets List</h1>
    <table>
        <tr>
            <th>Id</th><th>BreedId</th><th>Name</th><th>Gender</th><th>BirthYear</th><th>BirthMonth</th><th>Available</th>
        </tr>
        {% for pet in pets %}
            <tr>
                <td>{{ pet.id }}</td>
                <td>{{ pet.breed_id }}</td>
                <td>{{ pet.name }}</td>
                <td>{{ pet.gender }}</td>
                <td>{{ pet.birth_year }}</td>
                <td>{{ pet.birth_month }}</td>
                <td>{% if pet.available %}True{% else %}False{% endif %}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
